# dependencies
/node_modules

# testing
/coverage
/cypress/screenshots
/cypress/videos
/hint-report

# development
/.cache
*.log

# production
/public

# generated
/types/graphql.ts

# misc
.DS_Store
.env*
.netlify
